/* Setting properties of secret document */
#secret-document {
  font-family: monospace;
  font-size: 15;
  color: green;
}

/* Setting properties of video */
#video {
  display: block;
  margin: auto;
  margin-top: 6rem;
  max-width: 40rem;
  max-height: 20rem;
}

/* Setting revelead text properties */
.revealed {
  color: red;
  user-select: text;
}
/* Setting body properties */
body {
  background-color: black;
  padding: 0;
  margin: 0;
}
